.view {
  padding-bottom: 74px;

}
.top {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 110;
  top: calc(100vh - 74px);
}

.sidebar {
  position: fixed;
  z-index: 100;
  height: 100%;
}
