.view {
  padding-bottom: 94px;

}
.top {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 110;
  top: calc(100vh - 94px);
}

.sidebar {
  position: fixed;
  z-index: 100;
  height: 100%;
}
