.headerBackground {
  height: 250px;
  background-color: #2a653b;
  width: 100vw;
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  margin-top: -20px;
  border-radius: 20px;
}

.green-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #2a653b;
  z-index: 10;
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 80%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 8px;
}

.space {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input {
  padding: 10px;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: #2a653b;
  color: aliceblue;
}

.lower-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.labelPassword {
  margin-top: 10px;
  font-weight: 600;
}

.labelId {
  font-weight: 600;
}

.underline {
  color: #2a653b;
  text-decoration: underline;
}

.register {
  text-decoration: none;
  color: #2a653b;
  text-decoration: underline;
}

.changePassword {
  color: #2a653b;
}

.dummyBackground3 {
  background-color: #2a653b;
  height: 300vh;
  width: 100vw;
  top: 0vh;
  position: fixed;
  z-index: 999;
  transition: 3s;
}

.dummyBackground3Entering {
  background-color: #2a653b;
  height: 0vh;
  width: 100vw;
  top: 0vh;
  position: absolute;
  z-index: 10;
}

/* Informacion del usuario*/
.popup {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 28, 28, 0.4);
}

.info-section {
  margin: auto;
}

.info-item {
  padding: 10px;
  border: 1px solid #CEEAD6;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 10px;
}

/*Editar datos popup*/
.popup {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #CEEAD6;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close {
  color: #2a653b;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.saveButton {
  background-color: #2a653b;
  color: #f5f5f5;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.saveButton:hover {
  background-color: #1e4b2a;
}

.info-sus {
  padding: 7px;
}

/*Mis productos*/
.selector {
  border-radius: 5px;
  border: 2px solid #2a653b;
  background-color: #e2f3e68c;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  width: 80px;
  height: 37px;
  appearance: inherit;
  padding-right: 24px;
  padding: 8px;
}

.selector option {
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
}

.selector-fecha {
  padding: 10px;
  border: 2px solid #2a653b;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e2f3e68c;
  margin-top: 5px;
}

.almacigos {
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 5px;
  align-items: center;
}

.almacigos>* {
  margin: 0 5px;
}