
/* @media (max-width: 1376px) {
	.buttonContainer {
		display: none;
	}
	.logoText {
		display: none;
	}
	.componedButton {
		display: none;
	}
} */


.button {

	border-radius: 5px;
	width: 100%;
	background-color:  #2a653b;
	color: aliceblue;
	text-align: center;
	border-radius: 0px;
	align-items: start;
	justify-content: center;
	align-content: flex-start;
	height: 100%;
	width: 100%;
	z-index: 99;
	margin-bottom: 8px;
  }

.fondo {
	height: 300px;
	background-color: #2a653b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.container {
	margin: 10px 16px;
	width: 100%;
	display: flex;
	height: 100%;
	justify-self: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 0px;
}

.subButton {
	background-color: #2a653b;
	color: aliceblue;
	border-radius: 5px;
	height: 20px;
	width: 100%;
}


.transitionScreen {
	background-color: rgba(42, 101, 59, 0.998);
	color: aliceblue;
	border-radius: 5px;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	border-radius: 20px;
	animation: slide-up 1s forwards;
	background-image: url("../../assets/Logo_AquaPlants2.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 9999;
}

.enterAnimation {
	background-color: #2a653b;
	color: aliceblue;
	border-radius: 5px;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	border-radius: 20px;
	animation: slide-up2 1s forwards;
}


    
    @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	}
    }
    

@keyframes slide-up {
	0% { transform: translateY(100%); }
	50% { transform: translateY(0%); }
	100% { transform: translateY(-100%); }
  }

  @keyframes slide-up2 {
	0% { transform: translateY(0%); }
	100% { transform: translateY(100%); }
  }
  